@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../assets/Minecraft-Regular.woff2') format('woff2');
}

ol {
  @apply pl-2;
}
p {
  @apply py-2;
}
body {
  @apply bg-white font-body text-lg font-normal leading-8 text-black dark:bg-black dark:text-white;
}
kbd {
  @apply rounded-md border border-gray bg-gray-light px-1.5 font-mono text-sm dark:border-gray dark:bg-gray-dark;
}

/* Scrollbar customization */
*::-webkit-scrollbar-track {
  @apply rounded-xl bg-white dark:bg-black;
}
*::-webkit-scrollbar {
  @apply w-3 rounded-xl bg-white dark:bg-black;
}
*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply rounded-xl bg-gray-light dark:bg-gray-dark;
}
*::-webkit-scrollbar-corner {
  @apply bg-white dark:bg-black;
}

.app {
  @apply mx-auto w-full animate-fade-in px-4 md:px-8 lg:px-16;
}

.button {
  @apply relative inline-flex h-10 items-center justify-center gap-2 rounded-lg border border-gray bg-gray-light px-3 font-display text-xl text-gray-dark dark:border-gray dark:bg-gray-dark dark:text-white;
  &::before {
    content: '';
    @apply absolute -bottom-1 -z-10 block w-full rounded-lg border border-gray bg-gray p-2 dark:border-gray dark:bg-gray;
  }
  &:not(&--sm):not(:disabled):active {
    @apply translate-y-1;
    &::before {
      @apply -translate-y-1 opacity-0;
    }
  }
  &:disabled {
    @apply cursor-not-allowed border border-gray-light bg-gray-light text-gray dark:border-gray-dark dark:bg-gray-dark dark:text-gray;
    &::before {
      @apply hidden;
    }
  }
  &--sm {
    @apply h-8 rounded-md px-2 text-base;
    &:hover {
      @apply border-gray-dark dark:border-gray-light;
    }
  }
  &--lg {
    @apply w-40;
  }
}
.button__icon {
  @apply h-5 w-5;
  &--sm {
    @apply h-3.5 w-3.5;
  }
  &--lg {
    @apply h-7 w-7;
  }
}

.title {
  @apply text-xl font-bold;
}
.subtitle {
  @apply text-lg font-medium;
}
.shortcut {
  @apply flex items-center gap-2;
}
