@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../assets/Minecraft-Regular.woff2') format('woff2');
}

ol {
  @apply pl-2;
}
p {
  @apply py-2;
}
body {
  @apply bg-white text-base font-normal leading-6 text-gray-700 dark:bg-black dark:text-gray-200;
}
/* Scrollar customization */
*::-webkit-scrollbar-track {
  @apply rounded-xl bg-white dark:bg-black;
}
*::-webkit-scrollbar {
  @apply w-3 rounded-xl bg-white dark:bg-black;
}
*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply rounded-xl bg-gray-light dark:bg-gray;
}
*::-webkit-scrollbar-corner {
  @apply bg-white dark:bg-black;
}

.app {
  @apply mx-auto w-11/12;
}

.button {
  @apply relative flex h-10 items-center justify-center gap-2 rounded-lg border border-gray-300 bg-gray-light px-3 font-display text-xl text-gray-600 dark:border-gray-700 dark:bg-gray dark:text-white;
  &::before {
    content: '';
    @apply absolute -bottom-1 -z-10 block w-full rounded-lg border border-gray-light bg-gray-300 p-2 dark:border-gray-700 dark:bg-gray-700;
  }
  &:not(&--sm):active {
    @apply translate-y-1;
    &::before {
      @apply -translate-y-1 opacity-0;
    }
  }
  &:disabled {
    &:active {
      @apply translate-y-0;
    }
  }
  &--sm {
    @apply h-8 rounded-md px-2 text-base;
  }
  &--lg {
    @apply w-40;
  }
}
.button__icon {
  @apply h-5 w-5;
  &--sm {
    @apply h-3.5 w-3.5;
  }
  &--lg {
    @apply h-7 w-7;
  }
}

.title {
  @apply text-xl font-bold;
}
.subtitle {
  @apply text-lg font-medium;
}
