.menu {
  @apply relative;
}
.menu__content {
  @apply absolute right-0 top-10 z-10 flex w-max max-w-screen-md flex-col rounded-xl border border-gray-light bg-white p-6 shadow-lg shadow-gray-light transition-opacity duration-300 ease-in-out dark:border-gray-700 dark:bg-black dark:text-white dark:shadow-black;
  &--show {
    visibility: visible;
    opacity: 100%;
  }
  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}
