.tooltip {
  @apply fixed z-tooltip min-w-fit max-w-80 whitespace-nowrap rounded-lg border border-gray-light bg-white px-4 py-1 shadow-md dark:border-gray-dark dark:bg-black;
  &::before {
    content: '';
    @apply z-tooltip-arrow absolute rotate-45 border-gray-light bg-white p-1.5 dark:border-gray-dark dark:bg-black;
  }
  &--top::before {
    @apply -bottom-2 left-1/2 -translate-x-1/2 border-b border-r;
  }
  &--right::before {
    @apply -left-2 top-1/2 -translate-y-1/2 border-b border-l;
  }
  &--bottom::before {
    @apply -top-2 left-1/2 -translate-x-1/2 border-l border-t;
  }
  &--left::before {
    @apply -right-2 top-1/2 -translate-y-1/2 border-r border-t;
  }
}
