:root {
  @apply text-base font-normal leading-6 text-white;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Minecraft';
  src: url('../fonts/Minecraft-Regular.woff2') format('woff2');
}

ol {
  @apply pl-2;
}
p {
  @apply py-2;
}
body {
  @apply bg-black;
}
/* Scrollar customization */
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply rounded-xl bg-black;
}
*::-webkit-scrollbar {
  @apply w-3 rounded-xl bg-black;
}
*::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply rounded-xl bg-gray;
}

.button {
  @apply flex h-12 items-center justify-center gap-2 rounded-lg border border-transparent bg-gray px-4 font-display text-xl;
  &--lg {
    @apply w-64;
  }
  &:hover {
    @apply border-gray-light;
  }
}
.button__icon {
  @apply h-5 w-5;
}
